$app-backgorund-color: #EFF6FF;
$nav-menu-color: #475569;
$blue-01: rgba(37, 99, 235, 1);
$white-01: rgba(255, 255, 255, 1);
$primary-default: #00F0FF;
$white: #FFFFFF;
$slate-blue: #648bbc;
$gray-light10: #96a8be;
$gray-light40: #bbb9b9;
$palette-blue: rgba(92, 109, 139, 1);
$blk-dark: rgb(6 6 6 / 88%);